<div class="row">
  <div class="span6 offset3">
<%= form_tag password_forget_path, :method => :post do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
    <%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
</div>
